:root {
  --vermelho: rgb(254 , 74 , 73);
  --amarelo: rgb(254 , 215 , 102);
  --azul: rgb(0 , 159 , 183);
  --cinza: rgb(230 , 230 , 234);
  --branco: rgb(244 , 244 , 248);
}

body {
  background-color: var(--cinza);
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: var(--vermelho);
  color: var(--amarelo);
  font-family: Righteous, cursive;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 0;
  width: 100%;
}

h1 {
  margin-left: 30px;
}

main {
  background-color: var(--branco);
  padding: 10px 0;
}

.text {
  color: var(--vermelho);
  font-family: Turret Road, cursive;
  text-align: center;
}

.container-of-color {
  align-content: initial;
  background-color: var(--azul);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 2fr);
  justify-content: initial;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

.ball {
  border: 2px dashed black;
  border-radius: 100%;
  cursor: pointer;
  height: 150px;
  margin: 30px 50px;
  width: 150px;
  margin: auto;
}

.ball:hover {
  border: 2px solid black;
}

p {
  display: inline-block;
  text-transform: uppercase;
}

button {
  background-color: var(--azul);
  border: none;
  border-radius: 3px;
  color: var(--vermelho);
  cursor: pointer;
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  height: 30px;
  text-transform: uppercase;
  transition: 0.4s;
  vertical-align: middle;
  width: 160px;
}

button:hover {
  color: var(--amarelo);
  transform: scale(0.9, 0.9);
}

.div-score {
  background-color: var(--vermelho);
  border-radius: 100%;
  font-family: Turret Road, cursive;
  height: 100px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}

.div-score p {
  color: var(--amarelo);
}

footer {
  background-color: var(--azul);
  padding-bottom: 40px;
  text-align: center;
}

h2 {
  color: var(--amarelo);
  font-family: Righteous, cursive;
  padding-top: 10px;
  vertical-align: middle;
}

footer p {
  color: var(--branco);
  font-family: 'Press Start 2P', cursive;
}

footer a {
  color: var(--branco);
  text-decoration: none;
  transition: 0.5s;
}

footer a:hover {
  color: var(--cinza);
  font-size: 10pt;
}