body {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px auto;
  padding: auto;
  text-align: center;
}

h2 {
  margin: 0px auto;
}
span {
  margin: 20px auto;
}
.ball {
  background-color: blue;
  border: solid 1px black;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 40px;
  margin: 25px 2px;
}
