body , html {
  background-color: gainsboro;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: rgb(255, 120, 150);
  border-bottom: 5px solid crimson;
  height: 100px;
}

h1 {
  color: crimson;
  font-size: 36px;
  line-height: 100px;
  margin: 0;
  text-shadow: 2px 2px 10px rgb(172, 15, 47);
  -webkit-text-stroke-color: rgb(179, 7, 42);
  -webkit-text-stroke-width: 1px;
}

.container {
  height: 100px;
}

.ball {
  border-color: black;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 60px;
  margin: 20px;
  transition: 0.3s;
  width: 60px;
}

.ball:hover {
  cursor: pointer;
  height: 80px;
  margin: 10px;
  transition: 0.3s;
  width: 80px;
}

.selected {
  border-color: crimson;
  border-width: 3px;
}

button {
  background-color: rgb(255, 120, 150);
  border-color: rgb(243, 101, 131);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 3px 20px rgb(255, 120, 150);
  color: white;
  font-size: 18px;
  height: 50px;
  outline: none;
  transition: 0.5s;
  width: 250px;
}

button:active {
  color: white;
  left: 2px;
  outline: none;
  position: relative;
  top: 1px;
}

button:hover {
  background-color: crimson;
  border-color: rgb(153, 9, 38);
  border-style: solid;
  box-shadow: 3px 3px 20px rgb(168, 16, 49);
  cursor: pointer;
  transition: 0.5s;
}
