body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}

.header {
  text-align: center;
}

.section-guess {
  margin-top: 40px;
  text-align: center;
}

.section-ball {
  margin-top: 40px;
  text-align: center;
}

.section-ball .ball {
  border: black solid 3px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  height: 70px;
  width: 70px;
}
